body {
  min-width: 1000px;
  background-color: $blue;
}

.container {
  position: relative;
  box-sizing: border-box;
  min-width: 1000px;
  max-width: 1300px;
  min-height: 100vh;
  margin: 0 auto;
  border: 20px solid $blue;
  background-color: $white;
}

.header {
  padding: 40px 0;
  background-color: $blue;

  h1 {
    color: $white;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
  }
}

.nav {
  margin-bottom: 30px;
  padding: 20px 0;
  background-color: $blue;
  text-align: center;
  font-size: 0;

  a {
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid $blue;
    color: $white;
    vertical-align: top;
    text-decoration: none;
    font-family: $code-font;
    font-size: 16px;
    line-height: 16px;

    &:hover,
    &.active {
      border-bottom: 2px solid $white;
    }
  }
}

.content {
  padding: 0 20px 0;
}

.tab {
  &-container {
    margin-bottom: 20px;
  }

  &-controls {
    display: flex;
    margin-bottom: 10px;
  }

  &-control {
    margin-right: 30px;
    padding: 15px 10px;
    outline: none;
    border: 4px solid $blue;
    background: $white;
    cursor: pointer;
    font-family: $code-font;
    font-size: 14px;
    line-height: 14px;

    &--active {
      background-color: $blue;
      color: $white;
    }
  }

  &-content {
    display: none;
    line-height: 24px;

    &--active {
      display: block;
    }
  }
}

hr {
  margin: 40px 0;
  border: 1px solid $blue;
}

p {
  margin-top: 0;
}

.sticks {
  position: fixed;
  top: 30px;
  right: 0;
  z-index: 200;
  font-size: 0;

  &-item {
    display: block;
    width: 200px;
    margin-bottom: 10px;
    padding: 5px;
    border: 4px solid $blue;
    border-right: 0;
    background-color: $white;
    color: $black;
    font-size: 16px;
    line-height: 16px;

    span {
      color: $blue;
      font-family: $code-font;
    }
  }
}

.alert {
  position: relative;
  display: none;
  margin-bottom: 20px;
  padding: 10px;
  border: 4px solid $black;
  color: $black;
  font-size: 20px;

  .btn {
    position: absolute;
    top: 50%;
    right: 10px;
    padding: 5px;
    transform: translateY(-50%);
    font-size: 12px;
    line-height: 12px;
  }

  &--success {
    border: 4px solid $green;
    color: $green;

    .btn {
      background-color: $green;
    }
  }

  &--danger {
    border: 4px solid $red;
    color: $red;

    .btn {
      background-color: $red;
    }
  }

  &--open {
    display: block;
  }
}

.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }

  input[type="text"],
  textarea {
    padding: 10px;
    border: 2px solid $blue;
    font-family: $code-font;
    font-size: 16px;

    &.error {
      border-color: $red;
    }
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 40px;
}

input[type="checkbox"] + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $blue;
  content: "";
  transform: translateY(-50%);
}

input[type="checkbox"]:checked + label::after {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid $blue;
  border-left: 2px solid $blue;
  content: "";
  transform: rotate(-45deg);
}

.map {
  height: 500px;
  margin-bottom: 20px;
  border: 2px solid $blue;
  text-align: center;
  font-family: $head-font;
  font-size: 30px;
  line-height: 500px;
}

.accordeon {
  margin-bottom: 20px;
  border: 2px solid $blue;

  &-item {
    padding: 10px;
    border-bottom: 2px solid $blue;

    &:last-child {
      border-bottom: 0;
    }
  }

  &-head {
    color: $blue;
    cursor: pointer;
    opacity: 0.7;
  }

  &-content {
    display: none;
  }

  &-item--active &-head {
    color: $black;
    cursor: default;
    opacity: 1;
  }

  &-item--active &-content {
    display: block;
  }
}

.editor-control {

  .btn {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    display: none;

    &.close {
      display: block;
    }
  }

  &.active {
    .btn {
      display: block;

      &.close {
        display: none;
      }
    }
  }
}

.footer {
  margin-top: 40px;
  padding: 10px;
  background-color: $blue;
  color: $white;
  text-align: right;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none;
  background-color: rgba(0, 0, 255, 0.7);

  &.active {
    display: block;
  }
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10100;
  display: none;
  box-sizing: border-box;
  width: 600px;
  height: 400px;
  padding-top: 150px;
  background-color: $white;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: $head-font;
  font-size: 40px;
  line-height: 40px;

  &.active {
    display: block;
  }
}
